/* Estilo padrão */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Modo escuro */
  .dark-mode body {
    background-color: #1c1c1c;
    color: #ffffff;
  }

  .dark-mode table{
    color: #ffffff;
  }
  