/* Estilo padrão */
body {
    background-color: #ffffff;
    color: hsl(200, 100%, 8%);
  }
  
  /* Modo escuro */
  .dark-mode body {
    background-color: hsl(200, 100%, 8%);
    color: #ffffff;
  }

  .dark-mode table{
    color: #ffffff;
  }
  